
.tree-div ul, #s-l-base ul, .tree-div li, #s-l-base li {
    list-style-type: none;
    color: #24675b;
    border: 1px solid #3f3f3f;
}

.tree-div ul, .tree-ul, #s-l-base, #s-l-base ul {
    padding: 0;
    background-color: #ebecf6;
}

.tree-ul li, ul#s-l-base li {
    padding-left: 50px;
    margin: 5px;
    background-color: #a1cfe7;
}

.tree-div li div.item-container, #s-l-base li div {
    padding: 7px;
    background-color: #ebecf6;
}

.tree-div li, .tree-div ul, .tree-div div.item-container, #s-l-base li, #s-l-base ul, #s-l-base div {
    border-radius: 3px;
}

.c1 {
    color: #b5e853;
}

.c2 {
    color: #63c0f5;
}

.c3 {
    color: #5121b8;
}

.c4 {
    color: #888;
}

.c5 {
    color: #666667;
}

.c6 {
    color: #888;
}

.bgC1, .gray {
    background-color: #ccc;
}

.bgC2, .yellow {
    background-color: #ff8;
}

.bgC3, .red {
    background-color: #ff9999;
}

.bgC4, .blue {
    background-color: #aaaaff;
}

.bgC5, .green {
    background-color: #99ff99;
}

.bgC6, .gree2 {
    background-color: #bbffbb;
}

.bgC7, .brown {
    background-color: #c26b2b;
}

.pT20 {
    padding-top: 20px;
}

.pV10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pR {
    position: relative;
}

.t10 {
    top: 10px;
}

.dN {
    display: none;
}

.zI1000 {
    z-index: 1000;
}

.small1 {
    font-size: 0.8em;
}

.small2 {
    font-size: 0.7em;
}

.small3 {
    font-size: 0.6em;
}

.tAR {
    text-align: right;
}

.clear {
    clear: both;
}

.tree-ul {
    margin: 10px auto;
}

#s-l-base {
    margin: 10px auto;
}

span.s-l-opener {
    display: inline-block;
    width: 18px;
    height: 18px;
    float: left;
    margin-left: -35px;
    margin-right: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 1.1em;
    cursor: pointer;
}

.tree-loader{
    background-image: url("../images/loading-sm.gif");
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 20px;
    height: 20px;
    float: left;
}